/* -*- Mode: CSS -*- */
/** 
 * Style sheet for 
 * 
 * The CSS2 specification is available at
 * http://www.w3.org/TR/1998/REC-CSS2-19980512
 */

@import url("./link.css");

/** body
 */
body
{
	color: black;
	background-color: white;
	line-height: 1.4;
}
pre{
	font-size: 10pt;
	font-family: "courier new", monospace;
}
ul
{
	list-style-type: none;
}
ul, li
{
	margin: 0;
	padding: 0;
}
div.changelist li
{
	font-size: 10pt;
	font-family: "courier new", monospace;
}

div.change
{
	border: 2px solid darkgrey;
	margin: 0 0 32px 0;
}
div.revinfo
{
	border-bottom: 1px solid darkgrey;
	background-color: dimgrey;
	color: white;
	padding: .5em .5em;
}
pre.loginfo
{
	margin: 0;
	padding: 0.5em 1em;
	line-height: 1.2;
	border-bottom: 1px solid darkgrey;
}
div.changelist
{
	margin: 0;
	padding: 0.5em 1em;
}
