/* -*- Mode: CSS -*- */
a{
    text-decoration: none;
    font-weight: bold;
    color: deeppink;
}
a:visited {
    filter: brightness(50%);
}
a:hover {
    text-decoration: none;
    background-color: pink;
}

.online-navigation > a{
    background-color: transparent;
    text-decoration: none;
    border: none;
}

.online-navigation > a[href=""] > img {
    filter: brightness(25%);
}
